examples/profile/images/YotiSelfie.jpeg
.vscode

# Test binary, build with `go test -c`
*.test

# Example project generated self-signed certificate
examples/profile/yotiSelfSignedCert.pem
examples/profile/yotiSelfSignedKey.pem
