{{ template "header.html" .}}
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <h1>Get Session Result</h1>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Session ID</td>
                    <td>{{ .getSessionResult.SessionID }}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        <span class="badge badge-{{ if eq .getSessionResult.State "COMPLETED"}}success{{ else }}secondary{{ end }}">
                            {{ .getSessionResult.State }}
                        </span>
                    </td>
                </tr>
                {{ if .getSessionResult.ClientSessionToken }}
                    <tr>
                        <td>Client Session Token</td>
                        <td>
                            {{ .getSessionResult.ClientSessionToken }}
                        </td>
                    </tr>
                {{ end }}
                <tr>
                    <td>Client Session Token TTL</td>
                    <td>{{ .getSessionResult.ClientSessionTokenTTL }}</td>
                </tr>
                <tr>
                    <td>User Tracking ID</td>
                    <td>{{ .getSessionResult.UserTrackingID }}</td>
                </tr>
                {{ if .getSessionResult.BiometricConsentTimestamp }}
                <tr>
                    <td>Biometric Consent Timestamp</td>
                    <td>
                        {{ .getSessionResult.BiometricConsentTimestamp }}
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>

    {{ if .getSessionResult.Checks }}
        <div class="row pt-4">
            <div class="col">
                <h2>Checks</h2>
                <div class="accordion mt-3" id="checks">
                    {{ if .getSessionResult.AuthenticityChecks }}
                        <div class="card">
                            <div class="card-header" id="authenticity-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-authenticity-checks" aria-expanded="true"
                                            aria-controls="collapse-authenticity-checks">
                                        Authenticity Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-authenticity-checks" class="collapse"
                                 aria-labelledby="authenticity-checks">
                                <div class="card-body">
                                    {{ range $check := .getSessionResult.AuthenticityChecks }}
                                        {{ template "check.html" $check }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .getSessionResult.IDDocumentTextDataChecks }}
                        <div class="card">
                            <div class="card-header" id="text-data-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-text-data-checks" aria-expanded="true"
                                            aria-controls="collapse-text-data-checks">
                                        ID Document Text Data Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-text-data-checks" class="collapse" aria-labelledby="text-data-checks">
                                <div class="card-body">
                                    {{ range $check :=  .getSessionResult.IDDocumentTextDataChecks }}
                                        {{ template "check.html" $check }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .getSessionResult.FaceMatchChecks }}
                        <div class="card">
                            <div class="card-header" id="face-match-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-face-match-checks" aria-expanded="true"
                                            aria-controls="collapse-face-match-checks">
                                        Face Match Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-face-match-checks" class="collapse"
                                 aria-labelledby="face-match-checks">
                                <div class="card-body">
                                    {{ range $check :=  .getSessionResult.FaceMatchChecks }}
                                        {{ template "check.html" $check }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .getSessionResult.LivenessChecks }}
                        <div class="card">
                            <div class="card-header" id="liveness-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-liveness-checks" aria-expanded="true"
                                            aria-controls="collapse-liveness-checks">
                                        Liveness Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-liveness-checks" class="collapse" aria-labelledby="liveness-checks">
                                <div class="card-body">
                                    {{ range $check := .getSessionResult.AuthenticityChecks }}
                                        {{ template "check.html"  $check}}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ if .getSessionResult.IDDocumentComparisonChecks }}
                    <div class="card">
                        <div class="card-header" id="comparison-checks">
                            <h3 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse-comparison-checks" aria-expanded="true"
                                        aria-controls="collapse-comparison-checks">
                                    ID Document Comparison Checks
                                </button>
                            </h3>
                        </div>
                        <div id="collapse-comparison-checks" class="collapse" aria-labelledby="comparison-checks">
                            <div class="card-body">
                                {{ range $check := .getSessionResult.IDDocumentComparisonChecks }}
                                    {{ template "check.html"  $check}}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    {{ if .getSessionResult.SupplementaryDocumentTextDataChecks }}
                    <div class="card">
                        <div class="card-header" id="sup-doc-text-data-checks">
                            <h3 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse-sup-doc-text-data-checks" aria-expanded="true"
                                        aria-controls="collapse-sup-doc-text-data-checks">
                                    Supplementary Document Text Data Checks
                                </button>
                            </h3>
                        </div>
                        <div id="collapse-sup-doc-text-data-checks" class="collapse" aria-labelledby="sup-doc-text-data-checks">
                            <div class="card-body">
                                {{ range $check :=  .getSessionResult.SupplementaryDocumentTextDataChecks }}
                                    {{ template "check.html" $check }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                </div>
            </div>
        </div>
    {{ end }}

    {{ if .getSessionResult.Resources.IDDocuments }}
        <div class="row pt-4">
            <div class="col">
                <h2>ID Documents</h2>
            </div>
        </div>
    {{ end }}

    {{ range $key, $doc := .getSessionResult.Resources.IDDocuments }}
        <div class="row pt-4">
            <div class="col">

                <h3>
                    {{ $doc.DocumentType }} <span
                            class="badge badge-primary">{{ $doc.IssuingCountry }}</span>
                </h3>

                <div class="accordion mt-3">
                    {{ if $doc.DocumentFields }}
                        <div class="card">
                            <div class="card-header" id="document-fields-{{ $key }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-document-fields-{{ $key }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-document-fields-{{ $key }}">
                                        Document Fields
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-document-fields-{{ $key }}" class="collapse"
                                 aria-labelledby="document-fields-{{ $key }}">
                                <div class="card-body">
                                    {{ if $doc.DocumentFields.Media }}
                                        <h5>Media</h5>
                                        <table class="table table-striped table-light">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>
                                                    <a href="/media?mediaId={{ $doc.DocumentFields.Media.ID }}">
                                                        {{ $doc.DocumentFields.Media.ID }}
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    {{ if $doc.DocumentIDPhoto }}
                    <div class="card">
                        <div class="card-header" id="document-id-photo-{{ $key }}">
                            <h4 class="mb-0">
                                <button class="btn btn-link"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapse-document-id-photo-{{ $key }}"
                                        aria-expanded="true"
                                        aria-controls="collapse-document-id-photo-{{ $key }}">
                                    Document ID Photo
                                </button>
                            </h4>
                        </div>
                        <div id="collapse-document-id-photo-{{ $key }}" class="collapse" aria-labelledby="document-id-photo-{{ $key }}">
                            <div class="card-body">
                                {{ if $doc.DocumentIDPhoto.Media }}
                                <img class="card-img-top" src="/media?mediaId={{ $doc.DocumentIDPhoto.Media.ID }}" />
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    {{ if $doc.TextExtractionTasks }}
                        <div class="card">
                            <div class="card-header" id="text-extraction-tasks-{{ $key }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-text-extraction-tasks-{{ $key }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-text-extraction-tasks-{{ $key }}">
                                        Text Extraction Tasks
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-text-extraction-tasks-{{ $key }}" class="collapse"
                                 aria-labelledby="text-extraction-tasks-{{ $key }}">
                                <div class="card-body">
                                    {{ range $task := $doc.TextExtractionTasks }}
                                        {{ template "task.html" $task }}

                                        {{ if $task.GeneratedTextDataChecks}}
                                            <h5>Generated Text Data Checks</h5>

                                            {{ range $generatedCheck := $task.GeneratedTextDataChecks }}
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>{{ $generatedCheck.ID }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {{ end }}
                                        {{ end }}

                                        {{ if $task.GeneratedMedia}}
                                            <h5>Generated Media</h5>

                                            {{ range $generatedMedia := $task.GeneratedMedia }}
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>
                                                            <a href="/media?mediaId={{ $generatedMedia.ID }}">{{ $generatedMedia.ID }}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>{{ $generatedMedia.Type }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    {{ if $doc.Pages }}
                    {{ range $pageNum, $page := $doc.Pages }}
                        <div class="card">
                            <div class="card-header" id="document-pages-{{ $key }}-{{ $pageNum }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-document-pages-{{ $key }}-{{ $pageNum }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-document-pages-{{ $key }}-{{ $pageNum }}">
                                        Page {{call $.add $pageNum 1}}
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-document-pages-{{ $key }}-{{ $pageNum }}" class="collapse"
                                 aria-labelledby="document-pages-{{ $key }}-{{ $pageNum }}">

                                <div class="card-group">
                                    {{ if $page.Media }}
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top"
                                                    src="/media?mediaId={{ $page.Media.ID }}"/>
                                            <div class="card-body">
                                                <p>Method: {{ $page.CaptureMethod }}</p>
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>

                                {{ if $page.Frames}}
                                <div class="card-group">
                                    {{ range $frame := $page.Frames }}
                                        {{ if $frame.Media }}
                                            <div class="card">
                                                <img class="card-img-top"
                                                    src="/media?mediaId={{ $frame.Media.ID }}"/>
                                                <div class="card-body">
                                                    <h5 class="card-title">Frame</h5>
                                                </div>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>
                                {{ end }}

                            </div>
                        </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}


    {{ if .getSessionResult.Resources.SupplementaryDocuments }}
        <div class="row pt-4">
            <div class="col">
                <h2>Supplementary Documents</h2>
            </div>
        </div>
    {{ end }}

    {{ range $key, $doc := .getSessionResult.Resources.SupplementaryDocuments }}
        <div class="row pt-4">
            <div class="col">

                <h3>
                    {{ $doc.DocumentType }} <span
                            class="badge badge-primary">{{ $doc.IssuingCountry }}</span>
                </h3>

                <div class="accordion mt-3">
                    {{ if $doc.DocumentFields }}
                        <div class="card">
                            <div class="card-header" id="sup-doc-fields-{{ $key }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-sup-doc-fields-{{ $key }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-sup-doc-fields-{{ $key }}">
                                        Document Fields
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-sup-doc-fields-{{ $key }}" class="collapse"
                                 aria-labelledby="sup-doc-fields-{{ $key }}">
                                <div class="card-body">
                                    {{ if $doc.DocumentFields.Media }}
                                        <h5>Media</h5>
                                        <table class="table table-striped table-light">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>
                                                    <a href="/media?mediaId={{ $doc.DocumentFields.Media.ID }}">
                                                        {{ $doc.DocumentFields.Media.ID }}
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    {{ if $doc.DocumentFile }}
                    <div class="card">
                        <div class="card-header" id="sup-doc-id-photo-{{ $key }}">
                            <h4 class="mb-0">
                            {{ if $doc.DocumentFile.Media }}
                            <a class="btn btn-link" type="button" href="/media?mediaId={{ $doc.DocumentFile.Media.ID }}">
                                Download File
                            </a>
                            {{ end }}
                            </h4>
                        </div>
                    </div>
                    {{ end }}

                    {{ if $doc.TextExtractionTasks }}
                        <div class="card">
                            <div class="card-header" id="sup-doc-text-extraction-tasks-{{ $key }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-sup-doc-text-extraction-tasks-{{ $key }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-sup-doc-text-extraction-tasks-{{ $key }}">
                                        Text Extraction Tasks
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-sup-doc-text-extraction-tasks-{{ $key }}" class="collapse"
                                 aria-labelledby="sup-doc-text-extraction-tasks-{{ $key }}">
                                <div class="card-body">
                                    {{ range $task := $doc.TextExtractionTasks }}
                                        {{ template "task.html" $task }}

                                        {{ if $task.GeneratedTextDataChecks}}
                                            <h5>Generated Text Data Checks</h5>

                                            {{ range $generatedCheck := $task.GeneratedTextDataChecks }}
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>{{ $generatedCheck.ID }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {{ end }}
                                        {{ end }}

                                        {{ if $task.GeneratedMedia}}
                                            <h5>Generated Media</h5>

                                            {{ range $generatedMedia := $task.GeneratedMedia }}
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>
                                                            <a href="/media?mediaId={{ $generatedMedia.ID }}">{{ $generatedMedia.ID }}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>{{ $generatedMedia.Type }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    {{ if $doc.Pages }}
                    {{ range $pageNum, $page := $doc.Pages }}
                        <div class="card">
                            <div class="card-header" id="sup-doc-pages-{{ $key }}-{{ $pageNum }}">
                                <h4 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-sup-doc-pages-{{ $key }}-{{ $pageNum }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-sup-doc-pages-{{ $key }}-{{ $pageNum }}">
                                        Page {{call $.add $pageNum 1}}
                                    </button>
                                </h4>
                            </div>
                            <div id="collapse-sup-doc-pages-{{ $key }}-{{ $pageNum }}" class="collapse"
                                 aria-labelledby="sup-doc-pages-{{ $key }}-{{ $pageNum }}">

                                <div class="card-group">
                                    {{ if $page.Media }}
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top"
                                                    src="/media?mediaId={{ $page.Media.ID }}"/>
                                            <div class="card-body">
                                                <p>Method: {{ $page.CaptureMethod }}</p>
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>

                                {{ if $page.Frames}}
                                <div class="card-group">
                                    {{ range $frame := $page.Frames }}
                                        {{ if $frame.Media }}
                                            <div class="card">
                                                <img class="card-img-top"
                                                    src="/media?mediaId={{ $frame.Media.ID }}"/>
                                                <div class="card-body">
                                                    <h5 class="card-title">Frame</h5>
                                                </div>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>
                                {{ end }}

                            </div>
                        </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ if .getSessionResult.Resources.ZoomLivenessResources}}
        <div class="row pt-4">
            <div class="col">
                <h2>Zoom Liveness Resources</h2>
            </div>
        </div>
    {{ end }}

    {{ range $livenessNum, $liveness := .getSessionResult.Resources.ZoomLivenessResources }}
        <div class="row pt-4">
            <div class="col">
                <table class="table table-striped table-light">
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ $liveness.ID }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="accordion mt-3">
                    {{ if $liveness.Frames}}
                        <div class="card">
                            <div class="card-header" id="liveness-{{ $livenessNum }}-frames">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-liveness-{{ $livenessNum }}-frames"
                                            aria-expanded="true"
                                            aria-controls="collapse-liveness-{{ $livenessNum }}-frames">
                                        Frames
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-liveness-{{ $livenessNum }}-frames" class="collapse"
                                 aria-labelledby="liveness-{{ $livenessNum }}-frames">
                                <div class="card-group">
                                    {{ range $frame := $liveness.Frames }}
                                        {{ if $frame.Media }}
                                            <div class="card">
                                                <img class="card-img-top"
                                                     src="/media?mediaId={{ $frame.Media.ID }}"/>
                                                <div class="card-body">
                                                    <h5 class="card-title">Frame</h5>
                                                </div>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{ template "footer.html" .}}