{{ define "attribute" }}
  {{ if .Prop }}
    <div class="yoti-attribute-list-item">
      <div class="yoti-attribute-name">
        <div class="yoti-attribute-name-cell">
          <i class="{{ .Icon }}"></i>
          <span class="yoti-attribute-name-cell-text">{{ .Name }}</span>
        </div>
      </div>
        
      <div class="yoti-attribute-value">
        <div class="yoti-attribute-value-text">
          {{ if eq .Prop.Name "document_details" }}
            <table>
              <tr><td>Document Type</td><td>{{ .Prop.Value.DocumentType }}</td></tr>
              <tr><td>Issuing Country</td><td>{{ .Prop.Value.IssuingCountry }}</td></tr>
              <tr><td>Document Number</td><td>{{ .Prop.Value.DocumentNumber }}</td></tr>
              <tr><td>Expiration Date</td><td>{{ .Prop.Value.ExpirationDate }}</td></tr>
              <tr><td>Issuing Authority</td><td>{{ .Prop.Value.IssuingAuthority }}</td></tr>
            </table>
          {{ else if eq .Prop.Name "document_images" }}
            {{ range .Prop.Value }}
              <img src="{{ .Base64URL | escapeURL }}" />
            {{ end }}
          {{ else if eq .Prop.Name "structured_postal_address" }}
            <table>
              {{ range $key, $value := .Prop.Value }}
                <tr>
                  <td>{{ $key }}</td>
                  <td>{{ $value }}</td>
                </tr>
              {{ end }}
            </table>
          {{ else }}
            {{ .Prevalue }}
            {{ .Prop.Value }}
          {{ end }}
        </div>
      </div>
      <div class="yoti-attribute-anchors-layout">
        <div class="yoti-attribute-anchors-head -s-v">S / V</div>
        <div class="yoti-attribute-anchors-head -value">Value</div>
        <div class="yoti-attribute-anchors-head -subtype">Sub type</div>
        {{ range .Prop.Sources }}
          <div class="yoti-attribute-anchors -s-v">Source</div>
          <div class="yoti-attribute-anchors -value">{{ .Value }}</div>
          <div class="yoti-attribute-anchors -subtype">{{ .SubType }}</div>
        {{ end }}
        {{ range .Prop.Verifiers }}
          <div class="yoti-attribute-anchors -s-v">Verifier</div>
          <div class="yoti-attribute-anchors -value">{{ .Value }}</div>
          <div class="yoti-attribute-anchors -subtype">{{ .SubType }}</div>
        {{ end }}
      </div>
    </div> 
  {{ end }}
{{end}}

<!DOCTYPE html>
<html class="yoti-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Yoti client example</title>

    <link rel="stylesheet" type="text/css" href="/static/profile.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
</head>
<body class="yoti-body">
  <main class="yoti-profile-layout">
    <section class="yoti-profile-user-section">
      <div class="yoti-profile-picture-powered-section">
        <span class="yoti-profile-picture-powered">Powered by</span>
        <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti" />
      </div>
      {{ if .profile.Selfie  }}
      <div class="yoti-profile-picture-area">
        <img src="{{ .selfieBase64URL }}" class="yoti-profile-picture-image" alt="Yoti" />
        <i class="yoti-profile-picture-verified-icon"></i>
      </div>
      {{ end }}
      
      <div class="yoti-profile-name">
        {{ .profile.FullName.Value }}
      </div>
    </section>

    <section class="yoti-attributes-section">
      <img class="yoti-company-logo" src="/static/assets/company-logo.jpg" alt="company logo" />
      <div class="yoti-attribute-list-header">
        <div class="yoti-attribute-list-header-attribute">Attribute</div>
        <div class="yoti-attribute-list-header-value">Value</div>
        <div>Anchors</div>
      </div>

      <div class="yoti-attribute-list-subheader">
        <div class="yoti-attribute-list-subhead-layout">
          <div>S / V</div>
          <div>Value</div>
          <div>Sub type</div>
        </div>
      </div>

      <div class="yoti-attribute-list">
        {{ if .profile.GivenNames }} {{ template "attribute" marshalAttribute "Given names" "yoti-icon-profile" .profile.GivenNames "" }} {{ end }}
        {{ if .profile.FamilyName }} {{ template "attribute" marshalAttribute "Family names" "yoti-icon-profile" .profile.FamilyName "" }} {{ end }}
        {{ if .profile.MobileNumber }} {{ template "attribute" marshalAttribute "Mobile number" "yoti-icon-phone" .profile.MobileNumber "" }} {{ end }}
        {{ if .profile.EmailAddress }} {{ template "attribute" marshalAttribute "Email address" "yoti-icon-email" .profile.EmailAddress "" }} {{ end }}
        {{ if .profile.DateOfBirth }} {{ template "attribute" marshalAttribute "Date of birth" "yoti-icon-calendar" .profile.DateOfBirth "" }} {{ end }}
        {{ if .profile.GetAttribute "age_over:18"}} {{ template "attribute" marshalAttribute "Age verified" "yoti-icon-verified" (.profile.GetAttribute "age_over:18") "Age Verification/" }} {{ end }}
        {{ if .profile.Address }} {{ template "attribute" marshalAttribute "Address" "yoti-icon-address" .profile.Address "" }} {{ end }}
        {{ if .profile.StructuredPostalAddress }} {{ template "attribute" marshalAttribute "Structured Address" "yoti-icon-address" .profile.StructuredPostalAddress "" }} {{ end }}
        {{ if .profile.Gender }} {{ template "attribute" marshalAttribute "Gender" "yoti-icon-gender" .profile.Gender "" }} {{ end }}
        {{ if .profile.DocumentDetails }} {{ template "attribute" marshalAttribute "Document Details" "yoti-icon-document" .profile.DocumentDetails "" }} {{ end }}
        {{ if .profile.DocumentImages }} {{ template "attribute" marshalAttribute "Document Images" "yoti-icon-profile" .profile.DocumentImages "" }} {{ end }}
      </div>

    </section>
  </main>
</div>
</body>
</html>
